html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(to bottom right, #2C3531, #4460D0 );

}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
 }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.buttons {
  display: inline;
}
.button0{
  background-color: white;
  width: 120px;
  height: 30px;
}
.slider {
  width: 410px;
  height: 375px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;  
  overflow: hidden;
}
.slide {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
}
.slides > div {
  /* CURRENT way. */
  scroll-snap-align: start;
}